In [85]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [86]:

df = pd.read_csv('C:\\Users\\Selva\\Desktop\\codealpha\\credit_score.csv')

In [87]:
df.isnull().sum()

CUST_ID                0
INCOME                 0
SAVINGS                0
DEBT                   0
R_SAVINGS_INCOME       0
                      ..
CAT_MORTGAGE           0
CAT_SAVINGS_ACCOUNT    0
CAT_DEPENDENTS         0
CREDIT_SCORE           0
DEFAULT                0
Length: 87, dtype: int64

In [88]:
df.duplicated().sum()

0

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 87 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CUST_ID                  1000 non-null   object
 1   INCOME                   1000 non-null   int64
 2   SAVINGS                  1000 non-null   int64
 3   DEBT                     1000 non-null   int64
 4   R_SAVINGS_INCOME         1000 non-null   float64
 5   R_DEBT_INCOME            1000 non-null   float64
 6   R_DEBT_SAVINGS           1000 non-null   float64
 7   T_CLOTHING_12            1000 non-null   int64
 8   T_CLOTHING_6             1000 non-null   int64
 9   R_CLOTHING               1000 non-null   float64
 10  R_CLOTHING_INCOME        1000 non-null   float64
 11  R_CLOTHING_SAVINGS       1000 non-null   float64
 12  R_CLOTHING_DEBT          1000 non-null   float64
 13  T_EDUCATION_12           1000 non-null   int64
 14  T_EDUCATION_6            1000 non-null   int64
 15  R_EDUCATION              1000 non-null   float64
 16  R_EDUCATION_INCOME       1000 non-null   float64
 17  R_EDUCATION_SAVINGS      1000 non-null   float64
 18  R_EDUCATION_DEBT         1000 non-null   float64
 19  T_ENTERTAINMENT_12       1000 non-null   int64
 20  T_ENTERTAINMENT_6        1000 non-null   int64
 21  R_ENTERTAINMENT          1000 non-null   float64
 22  R_ENTERTAINMENT_INCOME   1000 non-null   float64
 23  R_ENTERTAINMENT_SAVINGS  1000 non-null   float64
 24  R_ENTERTAINMENT_DEBT     1000 non-null   float64
 25  T_FINES_12               1000 non-null   int64
 26  T_FINES_6                1000 non-null   int64
 27  R_FINES                  1000 non-null   float64
 28  R_FINES_INCOME           1000 non-null   float64
 29  R_FINES_SAVINGS          1000 non-null   float64
 30  R_FINES_DEBT             1000 non-null   float64
 31  T_GAMBLING_12            1000 non-null   int64
 32  T_GAMBLING_6             1000 non-null   int64
 33  R_GAMBLING               1000 non-null   float64
 34  R_GAMBLING_INCOME        1000 non-null   float64
 35  R_GAMBLING_SAVINGS       1000 non-null   float64
 36  R_GAMBLING_DEBT          1000 non-null   float64
 37  T_GROCERIES_12           1000 non-null   int64
 38  T_GROCERIES_6            1000 non-null   int64
 39  R_GROCERIES              1000 non-null   float64
 40  R_GROCERIES_INCOME       1000 non-null   float64
 41  R_GROCERIES_SAVINGS      1000 non-null   float64
 42  R_GROCERIES_DEBT         1000 non-null   float64
 43  T_HEALTH_12              1000 non-null   int64
 44  T_HEALTH_6               1000 non-null   int64
 45  R_HEALTH                 1000 non-null   float64
 46  R_HEALTH_INCOME          1000 non-null   float64
 47  R_HEALTH_SAVINGS         1000 non-null   float64
 48  R_HEALTH_DEBT            1000 non-null   float64
 49  T_HOUSING_12             1000 non-null   int64
 50  T_HOUSING_6              1000 non-null   int64
 51  R_HOUSING                1000 non-null   float64
 52  R_HOUSING_INCOME         1000 non-null   float64
 53  R_HOUSING_SAVINGS        1000 non-null   float64
 54  R_HOUSING_DEBT           1000 non-null   float64
 55  T_TAX_12                 1000 non-null   int64
 56  T_TAX_6                  1000 non-null   int64
 57  R_TAX                    1000 non-null   float64
 58  R_TAX_INCOME             1000 non-null   float64
 59  R_TAX_SAVINGS            1000 non-null   float64
 60  R_TAX_DEBT               1000 non-null   float64
 61  T_TRAVEL_12              1000 non-null   int64
 62  T_TRAVEL_6               1000 non-null   int64
 63  R_TRAVEL                 1000 non-null   float64
 64  R_TRAVEL_INCOME          1000 non-null   float64
 65  R_TRAVEL_SAVINGS         1000 non-null   float64
 66  R_TRAVEL_DEBT            1000 non-null   float64
 67  T_UTILITIES_12           1000 non-null   int64
 68  T_UTILITIES_6            1000 non-null   int64
 69  R_UTILITIES              1000 non-null   float64
 70  R_UTILITIES_INCOME       1000 non-null   float64
 71  R_UTILITIES_SAVINGS      1000 non-null   float64
 72  R_UTILITIES_DEBT         1000 non-null   float64
 73  T_EXPENDITURE_12         1000 non-null   int64
 74  T_EXPENDITURE_6          1000 non-null   int64
 75  R_EXPENDITURE            1000 non-null   float64
 76  R_EXPENDITURE_INCOME     1000 non-null   float64
 77  R_EXPENDITURE_SAVINGS    1000 non-null   float64
 78  R_EXPENDITURE_DEBT       1000 non-null   float64
 79  CAT_GAMBLING             1000 non-null   object
 80  CAT_DEBT                 1000 non-null   int64
 81  CAT_CREDIT_CARD          1000 non-null   int64
 82  CAT_MORTGAGE             1000 non-null   int64
 83  CAT_SAVINGS_ACCOUNT      1000 non-null   int64
 84  CAT_DEPENDENTS           1000 non-null   int64
 85  CREDIT_SCORE             1000 non-null   int64
 86  DEFAULT                  1000 non-null   int64
dtypes: float64(51), int64(34), object(2)
memory usage: 679.8+ KB

In [90]:
b=df.drop(columns='CUST_ID')

In [91]:
a=b.drop(columns='CAT_GAMBLING')

In [92]:
X_train, X_test, y_train, y_test = train_test_split(a.drop('CREDIT_SCORE', axis=1), a['CREDIT_SCORE'], test_size=0.2, random_state=42)

In [93]:
X_train

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,DEFAULT
29,60213,876429,73593,14.5555,1.2222,0.0840,2928,1961,0.6697,0.0486,...,0.5360,1.1111,0.0763,0.9091,1,0,0,1,0,1
535,164651,444558,3095439,2.7000,18.8000,6.9630,3659,2447,0.6688,0.0222,...,0.5035,1.0000,0.3704,0.0532,1,1,0,1,1,0
695,427030,952606,2102304,2.2308,4.9231,2.2069,18158,6176,0.3401,0.0425,...,0.5258,0.7692,0.3448,0.1562,1,1,1,1,0,0
557,46106,466184,81966,10.1111,1.7778,0.1758,2056,1088,0.5292,0.0446,...,0.5203,1.1111,0.1099,0.6250,1,0,0,1,0,0
836,70512,21154,197434,0.3000,2.8000,9.3332,17748,7980,0.4496,0.2517,...,0.4825,1.0000,3.3333,0.3571,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0,87105,40773,3.6700,2.8316,0.4681,0,0,0.5089,0.0840,...,0.5640,1.1277,0.2128,0.4545,1,0,0,1,0,0
270,54349,76089,293485,1.4000,5.4000,3.8571,8491,5442,0.6409,0.1562,...,0.5365,1.0000,0.7143,0.1852,1,1,0,1,0,1
860,44768,40698,773262,0.9091,17.2727,19.0000,1456,985,0.6765,0.0325,...,0.6174,0.9091,1.0000,0.0526,1,0,0,1,0,1
435,58383,164532,488290,2.8181,8.3636,2.9678,1166,295,0.2530,0.0200,...,0.3545,0.9091,0.3226,0.1087,1,0,0,1,0,0
102,30500,206723,30500,6.7778,1.0000,0.1475,1083,485,0.4478,0.0355,...,0.5432,1.1111,0.1639,1.1111,1,0,0,1,0,0

In [94]:
X_test

,INCOME,SAVINGS,DEBT,R_SAVINGS_INCOME,R_DEBT_INCOME,R_DEBT_SAVINGS,T_CLOTHING_12,T_CLOTHING_6,R_CLOTHING,R_CLOTHING_INCOME,...,R_EXPENDITURE,R_EXPENDITURE_INCOME,R_EXPENDITURE_SAVINGS,R_EXPENDITURE_DEBT,CAT_DEBT,CAT_CREDIT_CARD,CAT_MORTGAGE,CAT_SAVINGS_ACCOUNT,CAT_DEPENDENTS,DEFAULT
521,58387,834934,87580,14.3000,1.5000,0.1049,785,406,0.5172,0.0134,...,0.5578,1.0000,0.0699,0.6667,1,0,0,1,0,0
737,320497,1228573,908075,3.8333,2.8333,0.7391,18619,5221,0.2804,0.0581,...,0.4264,0.8333,0.2174,0.2941,1,0,0,1,0,0
740,152964,588325,1682610,3.8462,11.0000,2.8600,11982,9420,0.7862,0.0783,...,0.6429,0.7692,0.2000,0.0699,1,1,0,1,0,0
660,132718,627396,1278922,4.7273,9.6364,2.0385,7493,6485,0.8655,0.0565,...,0.5482,0.9091,0.1923,0.0943,1,0,0,1,1,1
411,185973,1078643,111584,5.8000,0.6000,0.1034,13495,10241,0.7589,0.0726,...,0.5490,1.0000,0.1724,1.6667,1,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,43996,70394,233179,1.6000,5.3000,3.3125,3875,1865,0.4813,0.0881,...,0.4781,1.0000,0.6250,0.1887,1,0,0,1,0,1
332,295173,771990,1952682,2.6154,6.6154,2.5294,34133,26505,0.7765,0.1156,...,0.6535,0.7692,0.2941,0.1163,1,1,0,1,0,1
208,188674,1021982,1871013,5.4167,9.9166,1.8308,5382,666,0.1237,0.0285,...,0.4400,0.8333,0.1538,0.0840,1,1,1,1,1,0
613,11645,3494,22126,0.3000,1.9000,6.3326,348,17,0.0489,0.0299,...,0.4422,1.0000,3.3329,0.5263,1,0,0,1,0,0
78,461420,1417220,3229943,3.0714,7.0000,2.2791,16469,9897,0.6009,0.0357,...,0.5217,0.7143,0.2326,0.1020,1,1,1,1,0,0

In [95]:
y_train

29     630
535    467
695    559
557    605
836    626
      ...
106    556
270    578
860    453
435    584
102    644
Name: CREDIT_SCORE, Length: 800, dtype: int64

In [96]:
y_test

521    613
737    699
740    545
660    512
411    676
      ...
408    609
332    538
208    537
613    610
78     740
Name: CREDIT_SCORE, Length: 200, dtype: int64

In [97]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [98]:
from sklearn.ensemble import RandomForestClassifier

In [99]:
d = RandomForestClassifier(n_estimators=100, random_state=42)
d.fit(X_train_scaled, y_train)

RandomForestClassifier(random_state=42)

In [100]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [101]:
pre=d.predict(X_test)

c:\Users\Selva\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [102]:
pre

array([486, 486, 486, 562, 562, 486, 562, 486, 562, 716, 486, 716, 562,
       486, 486, 562, 486, 486, 716, 562, 562, 562, 562, 716, 562, 562,
       562, 486, 486, 562, 562, 562, 562, 562, 716, 486, 562, 562, 716,
       562, 716, 486, 562, 562, 486, 562, 486, 486, 716, 562, 562, 716,
       486, 562, 562, 716, 562, 562, 562, 716, 716, 562, 562, 562, 562,
       716, 562, 562, 562, 486, 562, 716, 562, 716, 486, 716, 562, 562,
       562, 716, 486, 716, 486, 716, 562, 587, 716, 562, 562, 486, 562,
       562, 562, 716, 562, 562, 562, 716, 716, 486, 562, 716, 562, 562,
       716, 486, 716, 716, 562, 562, 562, 716, 562, 562, 486, 562, 716,
       486, 562, 562, 562, 562, 562, 562, 562, 486, 562, 562, 562, 716,
       562, 562, 486, 562, 486, 562, 562, 562, 562, 562, 716, 716, 562,
       486, 562, 716, 716, 716, 562, 562, 562, 716, 562, 562, 562, 716,
       716, 562, 562, 562, 716, 486, 562, 562, 562, 562, 562, 562, 562,
       562, 562, 562, 562, 486, 716, 562, 562, 562, 716, 486, 716, 562,
       486, 562, 716, 562, 716, 486, 486, 486, 486, 716, 716, 486, 562,
       716, 486, 562, 562, 562], dtype=int64)

In [103]:
print(type(pre), type(y_test))
print(pre[:5])  # Print first 5 elements to inspect
print(y_test[:5])

<class 'numpy.ndarray'> <class 'pandas.core.series.Series'>
[486 486 486 562 562]
521    613
737    699
740    545
660    512
411    676
Name: CREDIT_SCORE, dtype: int64

In [104]:
import numpy as np
from sklearn.metrics import accuracy_score
# Example conversion: if the values are probabilities, convert to binary labels
threshold = 0.5
pred_labels = np.where(pre >= threshold, 1, 0)
y_test_labels = np.where(y_test >= threshold, 1, 0)

print("Accuracy:", accuracy_score(pred_labels, y_test_labels))

Accuracy: 1.0